<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>Car fare compare</h1>
  <div class = "locationBox">
    <h2>Hi User, Enter in your longitude and latitude below :)</h2>
      <form action = "/show" method="GET">
        <input type = "text" name = "start_lat" placeholder="start latitude">
        <input type = "text" name = "start_lng" placeholder="start longitude">
        <input type = "text" name = "end_lat" placeholder="end latitude">
        <input type = "text" name = "end_lng" placeholder="end longitude">
        <input type = "submit" value = "search">
      </form>
</div>
</body>
</html>

