<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Kurale|Londrina+Outline|Petit+Formal+Script|Stardos+Stencil" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Buda:300|Buenard|Habibi|Kurale|Londrina+Outline|Petit+Formal+Script|Stardos+Stencil" rel="stylesheet">
</head>
<body id="page3">

  <h2>Selected Ride!</h2>

  <p>Lyft: $ <%= results / 100 %> </p>

  <form action="/show/lyft/<%= results._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>


</body>
</html>
