/*body {
  background-color: blue;

}*/
#home {
  background-image: url("../images/daysf.jpg");
  /*background-color: blue;*/
  background-size: cover;
  background-size: 100%;
  color: white;
}
#home a{
  color: white;
}
#login {
  background-image: url("../images/daysf.jpg");
  background-size: cover;
  background-size: 100%;
  color: white;
}
#login h1{
  text-align: center;
  font-size: 120px;
  font-family: 'Kurale', serif;
  font-family: 'Stardos Stencil', cursive;
  font-family: 'Londrina Outline', cursive;
  margin-top: 230px;
}
#login .loginStuff{
  margin-top: 20px;
  margin-left: 500px;
}
#login input{
  font-size: 18px;
  font-family: 'Kurale', serif;
  font-family: 'Stardos Stencil', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Buenard', serif;
  font-family: 'Habibi', serif;
  font-family: 'Buda', cursive;
}
#signup {
  background-image: url("../images/daysf.jpg");
  background-size: cover;
  background-size: 100%;
  color: white;
}
#signup h1{
  text-align: center;
  font-size: 120px;
  font-family: 'Kurale', serif;
  font-family: 'Stardos Stencil', cursive;
  font-family: 'Londrina Outline', cursive;
  margin-top: 230px;
}
#signup .signupStuff{
  margin-top: 20px;
  margin-left: 500px;
}
#signup input{
  font-size: 18px;
  font-family: 'Kurale', serif;
  font-family: 'Stardos Stencil', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Buenard', serif;
  font-family: 'Habibi', serif;
  font-family: 'Buda', cursive;
}
#page1 {
  background-image: url("../images/daysf.jpg");
  /*background-color: blue;*/
  background-size: cover;
  background-size: 100%;
  color: white;

}
#page1 h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Kurale', serif;
  font-family: 'Stardos Stencil', cursive;
  font-family: 'Londrina Outline', cursive;
}
#page1 h4{
  text-align: center;
  font-family: 'Petit Formal Script', cursive;
  font-size: 18px;
  font-family: 'Kurale', serif;
  font-family: 'Stardos Stencil', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Buenard', serif;
  font-family: 'Habibi', serif;
  font-family: 'Buda', cursive;
}
#page1 .location{
  text-align: center;
}
#page2 {
  background-image: url("../images/sf.jpg");
  background-size: cover;
  background-size: 100%;
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex: wrap;*/
}
#page2 h1{
  margin-left: 40%;
}
#page2 p{
  /*float: left;*/
  padding: 20px;
  margin-left: 43%;
  margin-top: 75px;
}
#page2 input{
  /*float: left;
  margin-top: 40px;*/
  margin-left: 45%;

}
#page2 #button1{

}
#page3 {
  background-image: url("../images/sf.jpg");
  background-size: cover;
  background-size: 100%;

}
